<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
<body>
<header th:replace="layouts/layout :: header"></header>

<div th:replace="layouts/layout :: title"></div>

<div class="container main py-4">
    <div class="jumbotron bg-success panel-home text-light shadow">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Sistema cotizador de seguros.</p>
        <hr class="my-4">
        <p>Crea, actualiza, elimina y administra clientes, vehiculos y pólizas.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" th:href="@{/client/list}" role="button">Go to Clients for start!</a>
        </p>
    </div>
    <div class="d-flex justify-content-around align-items-center">
        <div class="img-wrapper-circle rounded-circle border p-4 d-flex justify-content-center align-items-center shadow">
            <img th:src="@{images/spring-framework.png}" th:width="120" alt="spring-image">
        </div>
        <div class="img-wrapper-circle rounded-circle border p-4 d-flex justify-content-center align-items-center shadow">
            <img th:src="@{images/thymeleaf.png}" th:width="120" alt="thymeleaf-image">
        </div>
        <div class="img-wrapper-circle rounded-circle border p-4 d-flex justify-content-center align-items-center shadow">
            <img th:src="@{images/mysql.png}" th:width="120" alt="mysql-image">
        </div>
    </div>
</div>

<footer th:replace="layouts/layout :: footer"></footer>
</body>
</html>